@model RoomCreateViewModel

<div class="row">
    <h2>Create Room</h2>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Room.RoomNumber" class="form-label"></label>
            <input asp-for="Room.RoomNumber" class="form-control">
            <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Room.HotelId" class="form-label"></label>
            <select asp-for="Room.HotelId" asp-items="@Model.Hotels" class="form-control">
                <option selected disabled>Select Hotel</option>
            </select>
            <span asp-validation-for="Room.HotelId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Room.PricePerNight" class="form-label"></label>
            <input asp-for="Room.PricePerNight" class="form-control">
            <span asp-validation-for="Room.PricePerNight" class="text-danger"></span>
        </div>
        <div class="form-check mb-3">
            <label asp-for="Room.IsAvailable" class="form-check-label"></label>
            <input asp-for="Room.IsAvailable" class="form-check-input">
            <span asp-validation-for="Room.IsAvailable" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 