@model HotelDeleteViewModel

<div class="row">
    <h2>Delete Hotel</h2>
    <form method="post" asp-action="PostDelete" asp-route-id="@Model.Hotel.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Hotel.Name" class="form-label"></label>
            <input asp-for="Hotel.Name" class="form-control" readonly>
            <span asp-validation-for="Hotel.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Hotel.ImageUrl" class="form-label"></label>
            <input asp-for="Hotel.ImageUrl" class="form-control" readonly>
            <span asp-validation-for="Hotel.ImageUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Hotel.Address" class="form-label"></label>
            <input asp-for="Hotel.Address" class="form-control" readonly>
            <span asp-validation-for="Hotel.Address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Hotel.Description" class="form-label"></label>
            <textarea asp-for="Hotel.Description" class="form-control" readonly>
            </textarea>
            <span asp-validation-for="Hotel.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Hotel.PhoneNumber" class="form-label"></label>
            <input asp-for="Hotel.PhoneNumber" class="form-control" readonly>
            <span asp-validation-for="Hotel.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Hotel.Rating" class="form-label"></label>
            <input asp-for="Hotel.Rating" class="form-control" readonly>
            <span asp-validation-for="Hotel.Rating" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Hotel.Email" class="form-label"></label>
            <input asp-for="Hotel.Email" class="form-control" readonly>
            <span asp-validation-for="Hotel.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 